<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Registration confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body {
          font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }
        a.link {
          border: solid 1px #000;
          background-color: #000;
          text-align:center;
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          display: block;
          min-width: 150px;
          height:20px;
          padding: 10px
        }

    </style>
</head>
<body>
<table align="center" bgcolor="#EEEEEE" border="0" cellpadding="0" cellspacing="0" style="background-color:#eef1f8" width="100%">
    <tbody><tr>
        <td bgcolor="#eeeeee" style="padding-left:8px;padding-right:8px" valign="top" width="100%">

            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody><tr>
                    <td height="8" style="font-size:1px">&nbsp;</td>
                </tr>
                </tbody></table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody>
                <tr>
                    <td height="8" style="font-size:1px">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody><tr>
                    <td height="8" style="font-size:1px">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="1" cellspacing="0" style="padding:0 30px 30px 30px;background-color:#ffffff;border:1px solid #dddddd" width="600">
                <tbody>
                <tr>
                    <td style="text-align:center; padding-top: 20px; width: 100%"><img border="0" src="images/checkmark.png" data-th-src="|cid:checkmarkLogo|" height="100"></td>
                </tr>
                <tr>
                    <td style="text-align:center; width: 100%">
                        <h1> <b th:text="${customerName}"></b>, confirme su asistencia para una mejor atención!</h1>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:1px solid #ddd;" width="100%"></td>
                </tr>
                <tr>
                    <td style="padding-top: 5px; width: 100%">
                        <h2>Detalles de la reserva</h2>
                        <table cellpadding="0" cellspacing="0" style="color:#555555;font-size:16px;width:100%;">
                            <tbody>
                            <tr style="background-color:#ffffff;">
                                <td height="8" style="width: 50%"><b>Servicio: </b></td>
                                <td><p th:text="${serviceName}"></td>
                            </tr>
                            <tr>
                                <td height="8" style="width: 50%"><b>Duración (min): </b></td>
                                <td><p  th:text="${serviceDuration}"></p></td>
                            </tr>
                            <tr>
                                <td height="8" style="width: 50%"><b>Fecha y hora: </b></td>
                                <td><p th:text="${appointmentDateStart}"></p></td>
                            </tr>
                            <tr>
                                <td height="8" style="width: 50%"><b>Sucursal: </b></td>
                                <td ><p th:text="${branchName}"></p></td>
                            </tr>
                            <tr>
                                <td height="8" style="width: 50%"><b>Dirección: </b></td>
                                <td ><p  th:text="${branchAddress}"></p></td>
                            </tr>
                            <tr th:if="${branchTelephone}">
                                <td height="8" style="width: 50%"><b>Teléfono: </b></td>
                                <td ><p th:text="${branchTelephone}"></p></td>
                            </tr>
                            <tr>
                                <td height="8" style="width: 50%"><b>Profesional: </b></td>
                                <td><p th:text="${professionalName}"></p></td>
                            </tr>
                            </tbody>
                        </table>
                        <p >
                            Confirme o cancele su reserva.
                        </p>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                            <tbody><tr>
                                <td height="10">
                                    <p style="text-align: left;">
                                        <a class="link" href="#" th:href="${confirmBookingUrl}">Confirmar</a>
                                    </p>
                                </td>
                                <td height="10" style="padding-left:10px">
                                    <p style="text-align: left; padding-left: 2px;">
                                        <a class="link" href="#" th:href="${cancelBookingUrl}">Cancelar</a>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            Saludos, <br />
                            <br />
                            &emsp; <em th:text="${footer}"></em>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table align="center" bgcolor="#eeeeee" border="0" cellpadding="1" cellspacing="0" style="font-size:11px;color:#666666" width="600">
                <tbody>
                <tr>
                    <td style="padding:3px;text-align:center;border-bottom:1px solid #ddd">
                        <p>Por favor, no respondas a este e-mail. </p></td>
                </tr>
                <tr>
                    <td style="padding:3px;text-align:center;border-bottom:1px solid #dddddd">
                        <p>
                            Creative Software © Todos los derechos reservados.<br>
                        </p></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody></table>
</body>
</html>
